*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Raleway, sans-serif;
}
button,input:focus{
    outline: none;
}
.container{
    background: #F3EED9;
    height: 100vh;
}
.header{
    height: 10vh;
    display: flex;
    padding: 1rem;
    background-color: rgb(223, 74, 74);
    justify-content: center;
    align-items: center;
}
.header img{
    height: 100%;
}
.header h3{
    font-size: 2rem;
    color: white;
}
.timer{
    text-align: center;
    margin-top: 7%;
}
.timer h4{
    font-size: 1.6rem;
}
.timer h3{
    font-size: 6rem;
    margin: 20px 0px;
}
.buttons{
    display: flex;
    justify-content: center;
}
.buttons button{
    background: #EC665C;
    width: 3rem;
    height: 3rem;
    padding: 0.8rem;
    border-radius: 50%;
    text-align: center;
}
.buttons img{
    width: 1.5rem;
}

form{
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}
form input, button{
    border: none;
}
form input{
    background: #F3EED9;
    border-bottom: 1px solid lightgrey;
    padding: 0.3rem;
    width: 15rem;
    font-size: 1rem;
}
form button{
    font-size: 1rem;
    width: 1.8rem;
    color: grey;
    transition: all 0.5s ease;
    background: transparent;
}
form button:hover{
    background: #BC827A;
    color: #F3EED9;
}
