* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
button,
input:focus {
  outline: none;
}
.container {
  background: #f3eed9;
  height: 100vh;
}
.header {
  height: 10vh;
  display: flex;
  padding: 1rem;
  background-color: rgb(223, 74, 74);
  justify-content: center;
  align-items: center;
}
.header img {
  height: 100%;
}
.header h3 {
  font-size: 2rem;
  color: white;
}
.timer {
  text-align: center;
  margin-top: 4%;
}
.timer h4 {
  font-size: 1.6rem;
}
.timer h3 {
  font-size: 10rem;
  padding: 2rem;
}
/* PLAY AND AMBIENT SOUNDS BUTTONS*/
.buttons {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 0 auto;
}
.play-button {
  background: #ec665c;
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.8rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.play-button img {
  width: 80%;
}

.sound-buttons {
  position: relative;
}

.side-buttons {
  width: 2.6rem;
  height: 2.6rem;
  background: #bc827a;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.4rem;
}

.side-buttons img {
  width: 80%;
}

.show-buttons {
  margin-right: 3rem;
}

.settings-button {
  margin-left: 3rem;
}

.sound-button-wrapper {
  background: #8f645f3d;
  height: 2.2rem;
  width: 12rem;
  display: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 3rem;
  position: absolute;
  bottom: 2.8rem;
  left: -5rem;
}

.sound-button {
  background: #bc827a;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.sound-button img {
  width: 100%;
}
.time-buttons-wrapper {
  position: relative;
}
.time-select {
  display: none;
  justify-content: space-around;
  position: absolute;
  width: 200px;
  height: 35px;
  padding: 0.2rem;
  border-radius: 2rem;
  background: #8f645f3d;
  top: -3rem;
  left: -2rem;
}

.time-select button {
  color: #f3eed9;
  background-color: #bc827a;
  padding: 0.1rem 0.1rem;
  border-radius: 2rem;
  width: 30%;
  cursor: pointer;
}

form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
form input,
button {
  border: none;
}
form input {
  background: #f3eed9;
  border-bottom: 1px solid lightgrey;
  padding: 0.3rem;
  width: 15rem;
  font-size: 1rem;
}
form button {
  font-size: 1rem;
  width: 1.8rem;
  color: #798897;
  transition: all 0.5s ease;
  background: transparent;
}
form button:hover {
  background: #798897;
  color: #f3eed9;
}
.tasks-container {
  margin-left: 37%;
  max-width: 20rem;
}

.tasks-list {
  list-style: none;
  overflow: hidden;
  height: 20vh;
}
.task-wrapper {
  width: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bc827a;
  margin-top: 1rem;
  border-radius: 0.2rem;
}
.task-wrapper li {
  color: #f3eed9;
  font-size: 1.3rem;
  width: 15rem;
  overflow: hidden;
}
.check-container {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  user-select: none;
  cursor: pointer;
}
.check-container input {
  -webkit-appearance: none;
  top: 0;
  left: -0.2rem;
  height: 100%;
  width: 100%;
  background-color: #fff5f1;
  border-radius: 0.2rem;
}

.check-container:hover input {
  background-color: #f3eed9;
}

.check-container input:checked::after {
  content: "\2713";
  color: #798897;
  font-size: 1rem;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.delete-button {
  background: transparent;
  color: #f3eed9;
  font-size: 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
